.yarnrc
.Xauthority
.wget-hsts
.hushlogin
.gitconfig
.dmrc
.xsession-errors
.xsession-errors.old
.steampath
.steampid
.pulse-cookie
.viminfo
lazy-lock.json

# personal folders
Documents
Downloads
Music
Pictures
Videos

# other junk
.emacs.d/
.yarn
.npm
.pki
.hidden
.stack
.mozilla
.minecraft
.local/share
!.local/share/slock/
!.local/share/icons/dunst/
!Pictures/wallpaper.png
!Pictures/wallpaper2.jpg
.local/state
.cargo
.cache
.config/QtProject.conf
.config/brightness_controller
.config/ncmpcpp/error.log
.config/qBittorrent
.config/libreoffice
.config/Pinta
.config/Kitware
.config/GIMP
.config/bluetuith
.config/obs-studio
.config/fontforge
.config/dconf/user
.config/mpd/database
.config/kritarc
.config/kritadisplayrc
.config/go/
.config/baloofileinformationrc
.config/dolphinrc
.config/kde.org
.config/kdeglobals
.config/kiorc
.config/ktrashrc
.config/session
.config/BraveSoftware
.config/codef00.com
.config/filetypesrc
.config/kwalletrc
.config/sxhkd/private.sxhkd
.config/sxhkd/Keylayout.kra
.config/sxhkd/Keylayout.png
.config/sxhkd/.git
.config/sxhkd/.gitignore
.config/sxhkd/readme.md
.config/JetBrains
.config/systemd
.config/Thunar
.config/xfce4
.config/torbrowser
.config/discord
.config/wget
.config/balenaEtcher
.config/user-dirs.dirs
.config/user-dirs.locale
.config/btop.log
.config/ventoy
.gnupg
.java
.steam
.renpy
.nuget
.swt
.ssh
.librewolf

# possible
.gtkrc-2.0
.xprofile

